$accent: #4ef09d;

$primary01: #1a1a1a;
$primary02: #222222;
$primary03: #333333;
$primary04: #666666;
$primary05: #b2b2b2;
$primary06: #d8d8d8;
$primary07: #e1e1e1;
$primary08: #f2f2f2;
$primary09: #ffffff;

$yellow: #e2c003;
$red: #ff5a5a;
